@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16;

  --color-dark-50: #f9fafb;
  --color-dark-100: #f3f4f6;
  --color-dark-200: #e5e7eb;
  --color-dark-300: #d1d5db;
  --color-dark-400: #9ca3af;
  --color-dark-500: #6b7280;
  --color-dark-600: #4b5563;
  --color-dark-700: #374151;
  --color-dark-800: #1f2937;
  --color-dark-900: #111827;
  --color-dark-950: #030712;
}

body {
    background-color: var(--color-dark-950);
    color: white;
}